*{
    padding: 0;
    margin:0;
}

#personajes{
    display: flex;  
    justify-content: center;
    flex-wrap:wrap ;
    gap:5px;
    border: 0px solid black;
    width: 100%;
}
h1{
    padding: 10px;
    font-size: 1.5em;
}
#totalPersonajes{
    position: fixed;
    width: 100%;
    height: 25px;
    top: 60px;
    background-color: rgba(0, 0, 0, 0.788);
    color:white;
    display: flex; 
    padding:7px;
    z-index: 99999;
}
.vacio{
    height: 100px;
}

nav{
    background-color: black;
    color:white;
    
    display: flex; 
    padding:7px;

    /* posicionamiento  
    position: fixed;    
    width: 99%;
    z-index: 99999;*/
} 

.menu-header{ 
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color:white;
    padding: 0px;  
    position: fixed;    
    width: 99%;
    z-index: 99999;

}
.menu-nav{ 
    top: 0;
    left: 0;
    height: 40px; 
    margin-left: -100%; 
    background-color: rgba(0,0,0,.7);
    z-index: 100;
  }

.menu-nav.show{
    margin-left: 0;
}
 

 

.filtros{
    display: flex;
    flex-grow: 1;
    justify-content:flex-end  ;
    align-items: center; 
    gap: 10px; 
} 

footer{
    background-color: rgba(73, 71, 71, 0.967);
    color:white;
    display: flex;  
    justify-content:center  ;
    align-items: center;  

    flex-direction: column;
    gap:25px;
    padding:7px;
    /* posicionamiento  */
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 99999;
}

.boton{
    width:100px;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: black;
    border-width: 0px 0px 0px 1px;
}

.boton:hover{
    background-color: rgb(255, 253, 253);
    color:black;

}

.boton:focus{
    background-color: rgb(219, 142, 26);
    color:rgb(107, 69, 12);
}


.boton::after {
    position: absolute;
    content: "";
    background-color: black;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px; 
  }
  
  .boton:hover::after {
    width: 50%;
  }

.botonPaginado{
    width:50px;
    height: 100%;
    color: black;
}

.mas{
    width:100%;
    height: 70%;
    color: rgb(255, 255, 255);
    background-color:  #381738;
    border-width: 0px 0px 0px 0px;
}

.mas:hover{
    color: #381738;
    background-color:  white;
    border-width: 0px 0px 0px 0px;
}

.paginado{
    display: flex; 
    justify-content:center  ;
    align-items: center; 
    gap: 10px;
}


.personaje{
    display: flex; 
    flex-direction: column;
    border: 2px solid black;
    overflow: hidden;
    margin:5px;
    width:347px;
    /* height: 673px; */
    border-radius: 10px;
    background: #512051;
    padding: 0px;
    color:white;
    z-index:0;
}
 
.personaje:hover{
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
     
}
.personaje img{
    position: relative;
    margin: 3px;
    border-radius: 10px 10px 0px 0px;
    width:98.5%; 
    transition: 0.5s;
    object-fit: cover;
}

.imagen:hover{
    transform: scale(1.2);
}

.datos{
    padding: 15px;
}

.accion{ 
    padding: 15px;
}
.accion a{
    z-index:2;
    color:red;
}

#irA{
    width: 60px;
    
}
 

.boton-menu{
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display:none;
    margin: 10px;
  }
  
  .boton-menu span{
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #444444;
    background: white;
    color:white;
    border-radius: 3px;
    transform-origin: 4px 0px; 
  }
  
  .boton-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }
  
  .boton-menu.close span:nth-child(2){
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .boton-menu.close span:nth-child(3){
    display: none;
  }
  